.page-title{
    font-size: 40px;
    font-weight: 900;
    padding: 0 0 10px 0;
}

.page-table{
    width: 100%;
    border-collapse: collapse;
}
.page-table th{
    text-align: left;
    font-weight: 500;
}
.page-table tbody tr{
    border-radius: 10px;
}
.page-table td,th{
    padding: 10px;
}

.page-table tbody tr:nth-child(odd){
    background-color: var(--color-grey);
}